{% extends '::base.html.twig' %}
{% block body %}
<h2>{{ header }}</h2>
<div class="content">
<h3>Your Data</h3>
<div>UUID: {{uuid}}</div>
<div>Category: {{category}}</div>
<div>Key: {{aKey}}</div>
<div>Data: {{data}}</div>
{% endblock %}

