{% extends '::base.html.twig' %}
{% block body %}
<h2>{{ header }}</h2>
<div class="content">
<table border="1">
    <tr><th>User</th><th>Type</th><th>Message</th><th>Time</th></tr>
    {% for log in logs %}
        <tr>
            <td>{{ log.getUserUuid }}</td>
            <td>{{ log.getType }}</td>
            <td>{{ log.getMessage }}</td>
            <td>{{ log.getReadableTimestamp }}</td>
        </tr>
    {% endfor %}
</table>

</div>
{% javascripts
  '@VirtualPersistBundle/Resources/public/js/traffic/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
